
 <div class="listcontainer">
  <div class="row row-cols-md-2">
   <div  *ngFor="let item of items | paginate: { itemsPerPage: 10, currentPage: page, totalItems: 1562 }">
    <div class="card card-containers" style="height: 363px; width: 750px">
      <div class="row">
        <div class="col-md-6">
          <img [src]="getImage(item)" class="rounded-circle">
        </div>
         <div class="col-md-6">
        <h5 class="card-title">{{item[key]}}</h5>
        <p class="card-text">{{item.description}}</p>
        <p *ngIf="item.description == ''">"Description not found"</p>
        <button type="button" class="btn btn-danger" (click)="selectCharacter(item)" (click)="ChangePage(item)">VIEW MORE</button>
        </div>
      </div>
      <h5>Related Comics</h5>
        <div class="row row-cols-md-2">
          <div *ngFor="let comics of item.comics.items; let i=index">
            <a *ngIf="i<4"  role="button" (click)="selectComic(comics)" (click)="ItemFav(comics)" data-bs-toggle="modal" data-bs-target="#Modal">{{comics.name}}</a>

            <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true" >
              <div class="modal-dialog">
                <div class="modal-content" *ngFor="let comic of characters;" style="height:500px; width: 550px;">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">{{comic.title}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-6">
                          <h5>{{comic.description}}</h5>
                        </div>
                        <div class="col-6">
                          <img [src]="getImage(comic)" class="img-modal">
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button *ngIf="SelectFavComic" type="button" class="btn btn-danger" (click)="addFavorites(comic)">Add to favorities</button>
                      <button  *ngIf="!SelectFavComic " type="button" class="btn btn-danger" (click)="RemoveFavorites(comic)">Remove</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>

 <pagination-controls  class="text-center" (pageChange)="page = $event" nextLabel="Next" previousLabel="Previous" (pageChange)="pageChanged($event)"></pagination-controls>
