<div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-danger dropdown-toggle"
          aria-controls="dropdown-basic">
    Order By <span class="caret"></span>
  </button>
  <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
      role="menu" aria-labelledby="button-basic">
    <li role="menuitem"><a class="dropdown-item" (click)="OnchangeAsc()">Name (ASC)</a></li>
    <li role="menuitem"><a class="dropdown-item" (click)="OnchangeAscC()">Date (ASC)</a></li>
    <li role="menuitem"><a class="dropdown-item" (click)="OnchangeDes()">Name (DES)</a></li>
    <li role="menuitem"><a class="dropdown-item" (click)="OnchangeDesC()">Date (DES)</a></li>
  </ul>
</div>
