.rounded-circle{
  align-items: center;
  width: 600px;
  height: 600px;
}
.container{
  text-align: center;
}
.cont{
  padding-top: 30px;
}

.bImage{
  background-image: url("https://w0.peakpx.com/wallpaper/674/262/HD-wallpaper-black-marvel-comics-minimalist-superhero-black-panther.jpg");
  height: 1200px;
}
